.mangocopy
	white-space nowrap

	&-text
		position absolute
		clip rect(1px 1px 1px 1px) /* IE6, IE7 */
		clip rect(1px, 1px, 1px, 1px)

	&-image
		margin 0 2px
		opacity 0.5
		transition all 300ms

		&:hover
			opacity 1%
